.colour{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
}
  
.blue{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #4285F4;
    display: inline-block;
    margin: 0.3cm;
    animation: blue1 3s ease-in-out infinite;
    animation-delay: 0s;
}

@keyframes blue1{
    0%,50%{
        transform: scale(1);
        background-color: #4285F4;
    }
    25%{
        transform: scale(0.2);
        background-color: #4285F4;
    }
    50%{
        transform: translateY(2cm);
    }
}

.red{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #DB4437;
    display: inline-block;
    margin: 0.3cm;
    animation: red1 3s ease-in-out infinite;
    animation-delay: 0.2s;
}

@keyframes red1{
    0%,50%{
        transform: scale(1);
        background-color: #DB4437;
    }
    25%{
        transform: scale(0.2);
        background-color: #DB4437;
    }
    50%{
        transform: translateY(2cm);
    }
}

.yellow{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #F4B400;
    display: inline-block;
    margin: 0.3cm;
    animation: yellow1 3s ease-in-out infinite;
    animation-delay: 0.4s;
}

@keyframes yellow1{
    0%,50%{
        transform: scale(1);
        background-color: #F4B400;
    }
    25%{
        transform: scale(0.2);
        background-color: #F4B400;
    }
    50%{
        transform: translateY(2cm);
    }
}

.green{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #0F9D58;
    display: inline-block;
    margin: 0.3cm;
    animation: green1 3s ease-in-out infinite;
    animation-delay: 0.6s;
}

@keyframes green1{
    0%,50%{
        transform: scale(1);
        background-color: #0F9D58;
    }
    25%{
        transform: scale(0.2);
        background-color: #0F9D58;
    }
    50%{
        transform: translateY(2cm);
    }
}